<div class="container">
    <div class="row">
        <form (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name:</label>
                <input type="text" name="FacultyName" [(ngModel)]="FacultyName" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Age</label>
                <input type="text" name="FacultyAge" [(ngModel)]="FacultyAge" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <button type="submit" *ngIf="idToEdit===-1" class="btn btn-primary me-5">Add</button>
            <button type="submit" *ngIf="idToEdit!==-1" class="btn btn-primary">Edit</button>
        </form>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fac of faculty; let i = index">
                    <td>{{fac.name}}</td>
                    <td>{{fac.age}}</td>
                    <td><button class="btn btn-danger" (click)="delete(i)">Delete</button></td>
                    <td><button class="btn btn-success" (click)="setValue(i)">Edit</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>